header {
  background-color: var(--color-pink);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    max-width: 1280px;
    width: 100%;

    h1 {
      a {
        min-width: 100px;
        width: 100%;
      }
    }

    nav {
      max-width: 960px;
      width: 100%;
      ul {
        display: flex;

        li {
          margin-right: 17px;
          max-width: calc(960px / 7);
          width: 100%;
          border-radius: 12px;
          border: 1px solid var(--color-gray);
          background-color: var(--color-white);

          a {
            padding: 10px 0;
            width: 100%;
            white-space: nowrap;
            text-align: center;
            color: var(--color-gray);

            &:focus {
              border-radius: 12px;
              background-color: var(--color-red);
              color: var(--color-white);
            }
          }
        }

        li:last-child {
          margin-right: 0;
        }

        li:hover,
        li.current {
          background-color: var(--color-red);

          a {
            color: var(--color-white);
          }
        }
      }
    }
  }
}

.kv {
  max-width: 1400px;
}

article {
  h2 {
    padding: 120px 0;
    text-align: center;
  }

  section:nth-of-type(1) {
    margin-top: 0;
  }

  section:nth-of-type(odd) .container {
    flex-direction: row-reverse;
  }

  section {
    margin-top: 120px;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .text {
        max-width: 509px;
        width: 100%;
        width: 40%;

        p {
          margin-top: 64px;
        }

        .link {
          text-align: right;

          a {
            margin-top: 40px;
            width: 180px;
            height: 40px;
            font-size: 14px;
            line-height: 40px;
            text-align: center;
            border-radius: 12px;
            border: 1px solid var(--color-gray);
            color: var(--color-gray);

            &:hover {
              background-color: var(--color-gray);
              color: var(--color-white);
            }

            &:focus {
              background-color: var(--color-gray);
              color: var(--color-white);
            }
          }
        }
      }

      .img {
        max-width: 729px;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.request .box,
footer ul {
  max-width: 1058px;
  width: 100%;
}

.request {
  margin-top: 120px;
  text-align: center;

  .box {
    display: flex;
    justify-content: space-between;
    margin: 80px auto 120px;

    a {
      width: calc((100% - 40px) / 2);
      height: 250px;
      font-size: 25pt;
      font-weight: 700;
      line-height: 250px;
      color: var(--color-brown);
      border-radius: 30px;
      border: 1px solid var(--color-brown);
      background: linear-gradient(to right, #ff9696, #fff7f1);

      &:focus {
        color: var(--color-white);
        background: var(--color-red);
      }

      &:hover {
        color: var(--color-white);
        background: var(--color-red);
      }
    }
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: var(--color-white);
    background: linear-gradient(to right bottom, #7bc65f, #31b1b4);
    line-height: 1.3;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 9px -5px rgba(171, 171, 171, 0.8);

    &:hover {
      width: 140px;
      height: 140px;
    }

    &:focus {
      width: 140px;
      height: 140px;
      background: lightgreen;
      color: black;
    }
  }
}

footer {
  // aクリック範囲を10px広めているため120-10で110px
  padding: 110px 0 40px;
  color: var(--color-white);
  background-color: var(--color-light-brown);

  nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: auto;
      text-align: center;

      li {
        white-space: nowrap;

        a {
          padding: 10px;
          transition: 0.3s;

          &:hover {
            color: black;
            background-color: yellow;
          }

          &:focus {
            color: black;
            background-color: yellow;
            font-size: 16pt;
          }
        }
      }
    }

    small {
      display: block;
      margin: 110px auto 120px;
      text-align: center;
    }
  }
}
